:host {
    color:black;
    .button-add-skill {
        margin: 10px 0;
    }
    // mat-focus-indicator mat-raised-button mat-button-base mat-warn
    .mat-warn {
        margin: 10px;
    }
    .button-delete-skill {
        margin: 10px;
    }
}